# Secret Key para la autenticación de Endpoints de Ingesta (Webhooks / Agentes externos)
API_SECRET_KEY=pos_hub_secret_token_2025_power_user

# Contraseña de acceso al Dashboard
DASHBOARD_PASSWORD=tu_clave_secreta

# Configuración del Clima (Open-Meteo)
NEXT_PUBLIC_DEFAULT_CITY="Buenos Aires, AR"
NEXT_PUBLIC_DEFAULT_LAT="-34.6037"
NEXT_PUBLIC_DEFAULT_LON="-58.3816"

# Persistencia de Datos
DATA_DIR="./data"
